# Data preparation (listings-1.csv)

In [1]:
import pandas as pd
import numpy as np

In [40]:
csvfile_path = "./Amsterdam/listings-1.csv"
listings_csv_data = pd.read_csv(csvfile_path)
listings_csv_data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [23]:
cols_to_remove = ['scrape_id', 'last_scraped', 'source', 'host_id', 'host_url',
       'host_listings_count', 'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'calendar_updated',
       'availability_30', 'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'neighbourhood_group_cleansed']

listings_csv_data.drop(cols_to_remove, axis=1, inplace=True)
listings_csv_data.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'picture_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [8]:
listings_csv_data.describe()

,id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,...,maximum_nights_avg_ntm,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.659000e+03,9659.000000,9659.000000,9659.000000,5868.000000,9385.000000,5843.000000,9659.000000,9659.000000,9658.000000,...,9.658000e+03,9659.000000,9659.000000,9659.000000,8632.000000,9659.000000,9659.000000,9659.000000,9659.000000,8632.000000
mean,4.583572e+17,52.366594,4.889761,2.933741,1.256050,1.563879,1.794626,4.215343,320.719433,3.831228,...,4.430692e+05,45.636919,9.370846,0.765814,4.839924,1.798426,1.158194,0.557304,0.039756,1.074291
std,4.837813e+17,0.017328,0.035550,1.356728,0.544279,0.917526,1.630312,19.845051,417.469795,17.856257,...,3.075904e+07,118.572029,24.959353,2.209195,0.256842,2.879770,1.960795,1.767351,0.485739,2.206133
min,2.818000e+03,52.290276,4.755870,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.217078e+07,52.355610,4.864693,2.000000,1.000000,1.000000,1.000000,2.000000,20.000000,2.000000,...,2.100000e+01,3.000000,0.000000,0.000000,4.780000,1.000000,1.000000,0.000000,0.000000,0.240000
50%,5.365568e+07,52.365569,4.887649,2.000000,1.000000,1.000000,1.000000,3.000000,31.000000,2.000000,...,1.800000e+02,10.000000,2.000000,0.000000,4.920000,1.000000,1.000000,0.000000,0.000000,0.480000
75%,9.330041e+17,52.376405,4.909200,4.000000,1.500000,2.000000,2.000000,4.000000,365.000000,3.000000,...,1.125000e+03,32.000000,7.000000,1.000000,5.000000,1.000000,1.000000,0.000000,0.000000,1.020000
max,1.238450e+18,52.425159,5.026669,16.000000,17.000000,17.000000,33.000000,1001.000000,1125.000000,1001.000000,...,2.137587e+09,4130.000000,914.000000,71.000000,5.000000,28.000000,24.000000,19.000000,8.000000,106.080000

In [ ]:
listings_csv_data.isnull().sum()

id                                                 0
listing_url                                        0
name                                               0
description                                      349
neighborhood_overview                           4190
picture_url                                        0
host_name                                          0
host_since                                         0
host_location                                   1112
host_about                                      4507
host_response_time                              3176
host_response_rate                              3176
host_acceptance_rate                            1824
host_is_superhost                                110
host_thumbnail_url                                 0
host_picture_url                                   0
host_neighbourhood                              6747
neighbourhood                                   4190
neighbourhood_cleansed                             0
latitude                                           0
longitude                                          0
property_type                                      0
room_type                                          0
accommodates                                       0
bathrooms                                       3791
bathrooms_text                                    10
bedrooms                                         274
beds                                            3816
amenities                                          0
price                                           3790
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                             1
maximum_minimum_nights                             1
minimum_maximum_nights                             1
maximum_maximum_nights                             1
minimum_nights_avg_ntm                             1
maximum_nights_avg_ntm                             1
has_availability                                 310
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                    1027
last_review                                     1027
review_scores_rating                            1027
license                                           97
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1027
dtype: int64

In [25]:
listings_csv_data.dtypes

id                                                int64
listing_url                                      object
name                                             object
description                                      object
neighborhood_overview                            object
picture_url                                      object
host_name                                        object
host_since                                       object
host_location                                    object
host_about                                       object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                             object
host_is_superhost                                object
host_thumbnail_url                               object
host_picture_url                                 object
host_neighbourhood                               object
neighbourhood                                    object
neighbourhood_cleansed                           object
latitude                                        float64
longitude                                       float64
property_type                                    object
room_type                                        object
accommodates                                      int64
bathrooms                                       float64
bathrooms_text                                   object
bedrooms                                        float64
beds                                            float64
amenities                                        object
price                                            object
minimum_nights                                    int64
maximum_nights                                    int64
minimum_minimum_nights                          float64
maximum_minimum_nights                          float64
minimum_maximum_nights                          float64
maximum_maximum_nights                          float64
minimum_nights_avg_ntm                          float64
maximum_nights_avg_ntm                          float64
has_availability                                 object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
number_of_reviews_l30d                            int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
license                                          object
instant_bookable                                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
dtype: object

In [ ]:
def replace_missing(df):
    if 'price' in df.columns:
        df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
    
    text_columns = [
        'listing_url', 'name', 'description', 'neighborhood_overview',
        'picture_url', 'host_name', 'host_since', 'host_location', 'host_about',
        'host_response_time', 'host_response_rate', 'host_acceptance_rate',
        'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
        'host_neighbourhood', 'neighbourhood', 'neighbourhood_cleansed',
        'property_type', 'room_type', 'license', 'instant_bookable'
    ]
    
    df[text_columns] = df[text_columns].fillna('missing')
    
    numeric_columns = {
        'bathrooms': 'mode',
        'bedrooms': 'mode',
        'beds': 'mode',
        'price': 'median',
        'minimum_nights': 'median',
        'maximum_nights': 'median',
        'number_of_reviews': 'median',
        'review_scores_rating': 'median',
        'reviews_per_month': 'median'
    }
    
    for col, method in numeric_columns.items():
        if col in df.columns:
            if method == 'mode':
                mode_val = df[col].mode().iloc[0] if not df[col].mode().empty else 0
                df[col] = df[col].fillna(mode_val)
            elif method == 'median':
                median_val = df[col].median()
                df[col] = df[col].fillna(median_val)
    
    return df

In [27]:
cleaned_listings = replace_missing(listings_csv_data)
cleaned_listings.dropna(inplace=True) # drop the remaining NaN values
cleaned_listings.reset_index(drop=True, inplace=True)

In [19]:
cleaned_listings.head()

,id,listing_url,name,description,neighborhood_overview,picture_url,host_name,host_since,host_location,host_about,...,first_review,last_review,review_scores_rating,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6624170,https://www.airbnb.com/rooms/6624170,"Warm, cozy sunlighted downtown appt",2 room appt. 1.8 km from central station with ...,missing,https://a0.muscache.com/pictures/df91da10-f7d4...,Jeroen,2015-05-31,"Amsterdam, Netherlands",Im a happy person living in my cozy apartment ...,...,2015-06-07,2020-02-16,4.84,0363 3CF3 3233 3B24 6BEC,f,1,1,0,0,0.38
1,716107,https://www.airbnb.com/rooms/716107,Loft style home nearby city centre,missing,missing,https://a0.muscache.com/pictures/9927048/b367a...,Marijke,2012-09-27,"Amsterdam, Netherlands",We are Marijke Vos and Lars van Overbeek. We a...,...,2013-01-03,2024-09-02,4.71,0363 0014 1E57 F097 81A5,f,1,1,0,0,1.21
2,664538756986273255,https://www.airbnb.com/rooms/664538756986273255,Geweldige duurzame eco woonark op unieke plek!,This unique eco houseboat is located in the mo...,missing,https://a0.muscache.com/pictures/miso/Hosting-...,Marloes,2013-07-22,"Amsterdam, Netherlands","Creative, relaxed couple living together with ...",...,2022-08-15,2022-08-15,5.00,0363 468D A0A1 6595 5E39,f,1,1,0,0,0.04
3,8191077,https://www.airbnb.com/rooms/8191077,Old bar apartment,This just renovated apartment for 6 persons is...,Our apartment is situated in the centre of Ams...,https://a0.muscache.com/pictures/miso/Hosting-...,Thomas,2015-09-02,missing,Ik ben Thomas en ben 35 jaar oud en kom uit Am...,...,2016-02-17,2024-08-20,4.61,Exempt,f,1,0,1,0,2.41
4,11113843,https://www.airbnb.com/rooms/11113843,Cozy apartment at a great location!,"Cozy renovated apartment on the 3th floor, loc...",missing,https://a0.muscache.com/pictures/8dcdb774-97a4...,Zohair,2016-02-07,"Amsterdam, Netherlands",School&Museum Teacher and mindfulness trainer ...,...,2016-03-30,2024-04-28,4.97,0363 0EC1 3BD9 1F01 3008,f,1,1,0,0,0.35

In [20]:
cleaned_listings.to_csv('./Amsterdam/listings_cleaned.csv', index=False)

In [28]:
cleaned_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8478 entries, 0 to 8477
Data columns (total 52 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            8478 non-null   int64
 1   listing_url                                   8478 non-null   object
 2   name                                          8478 non-null   object
 3   description                                   8478 non-null   object
 4   neighborhood_overview                         8478 non-null   object
 5   picture_url                                   8478 non-null   object
 6   host_name                                     8478 non-null   object
 7   host_since                                    8478 non-null   object
 8   host_location                                 8478 non-null   object
 9   host_about                                    8478 non-null   object
 10  host_response_time                            8478 non-null   object
 11  host_response_rate                            8478 non-null   object
 12  host_acceptance_rate                          8478 non-null   object
 13  host_is_superhost                             8478 non-null   object
 14  host_thumbnail_url                            8478 non-null   object
 15  host_picture_url                              8478 non-null   object
 16  host_neighbourhood                            8478 non-null   object
 17  neighbourhood                                 8478 non-null   object
 18  neighbourhood_cleansed                        8478 non-null   object
 19  latitude                                      8478 non-null   float64
 20  longitude                                     8478 non-null   float64
 21  property_type                                 8478 non-null   object
 22  room_type                                     8478 non-null   object
 23  accommodates                                  8478 non-null   int64
 24  bathrooms                                     8478 non-null   float64
 25  bathrooms_text                                8478 non-null   object
 26  bedrooms                                      8478 non-null   float64
 27  beds                                          8478 non-null   float64
 28  amenities                                     8478 non-null   object
 29  price                                         8478 non-null   float64
 30  minimum_nights                                8478 non-null   int64
 31  maximum_nights                                8478 non-null   int64
 32  minimum_minimum_nights                        8478 non-null   float64
 33  maximum_minimum_nights                        8478 non-null   float64
 34  minimum_maximum_nights                        8478 non-null   float64
 35  maximum_maximum_nights                        8478 non-null   float64
 36  minimum_nights_avg_ntm                        8478 non-null   float64
 37  maximum_nights_avg_ntm                        8478 non-null   float64
 38  has_availability                              8478 non-null   object
 39  number_of_reviews                             8478 non-null   int64
 40  number_of_reviews_ltm                         8478 non-null   int64
 41  number_of_reviews_l30d                        8478 non-null   int64
 42  first_review                                  8478 non-null   object
 43  last_review                                   8478 non-null   object
 44  review_scores_rating                          8478 non-null   float64
 45  license                                       8478 non-null   object
 46  instant_bookable                              8478 non-null   object
 47  calculated_host_listings_count                8478 non-null   int64
 48  calculated_host_listings_count_entire_homes   8478 non-null   int64
 49  calculated_host_listings_count_private_rooms  8478 non-null   int64
 50  calculated_host_listings_count_shared_rooms   8478 non-null   int64
 51  reviews_per_month                             8478 non-null   float64
dtypes: float64(14), int64(11), object(27)
memory usage: 3.4+ MB

# Data preparation (reviews-1.csv)

In [56]:
from googletrans import Translator # to translate comments that are not in English
import time

In [42]:
reviews_path = "./Amsterdam/reviews-1.csv"
reviews_csv_data = pd.read_csv(reviews_path)
reviews_csv_data.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [43]:
reviews_csv_data.isnull().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         25
dtype: int64

In [44]:
reviews_csv_data.dropna(inplace=True)
reviews_csv_data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [45]:
reviews_csv_data.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [49]:
reviews_csv_data.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [53]:
translator = Translator()

def translate_comments(df):
    def translate_comment(text):
        try:
            detected = translator.detect(text)
            if detected.lang != 'en':
                print("non-english detected")
                translation = translator.translate(text, dest='en')
                return translation.text
        except Exception as e:
            print(f"Error translating text: {e}")
            time.sleep(1)
        return text

    df['comments'] = df['comments'].apply(translate_comment)
    return df

reviews_csv_data = translate_comments(reviews_csv_data)

Error translating text: 'NoneType' object has no attribute 'group'
Error translating text: 'NoneType' object has no attribute 'group'
Error translating text: 'NoneType' object has no attribute 'group'

KeyboardInterrupt:

In [57]:
text_to_translate = []

for text in reviews_csv_data['comments']:
    detected = translator.detect(text)
    if detected.lang != 'en':
        text_to_translate.append(text)

AttributeError: 'NoneType' object has no attribute 'group'

In [37]:
reviews_csv_data.to_csv('./Amsterdam/reviews_cleaned.csv', index=False)